section.expectation
    div.section-title
        h2 Thông tin về những học viên cũ 
        h2 
        div.processing-bar
        p Những phải hồi tích cực từ những con số cho thấy sự hài lòng của những học viên tại đây
    //- content section
    div.info-page
        div.info-page__block
            h3 18430
            p Giờ học onl 
        div.info-page__block
            h3 172
            p Giảng viên trên khắp cả nước
        div.info-page__block
            h3 16402
            p Học viên 
        div.info-page__block
            h3 82 
            p Khóa học
    div.inner
        div.wrapper
            div.inner__block
                div.inner__content
                    h3 Have any question about us?
                    p Don't hesitate to contact us
                div.inner__btn
                    <button class="btn-df btn-hv-up btn-hv-bs btn-hv-green">CONTACT US</button>
