section.menu-nav
    .navmobile
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-btn
                    button.btn-toggle
                        span.wrapper-op-menu
                            span.icon-op-menu
            .nav-menu
                ul
                    .nav-box
                        li.nav-dropdown
                            a(href="#home") Home
                    li
                        a(href="#about") About
                    li
                        a(href="#features") Features
                    .nav-box
                        li.nav-dropdown
                            a(href="#pages") Pages
                    .nav-box
                        li.nav-dropdown
                            a(href="#blog") Blog
                    li
                        a(href="#contact") Contact 
    .navsticky
        .container
            .navbar
                a.nav-brand(href="#" atl ="logo")
                    img(src="../../assets/images/logo-2.png", alt="logo")
                .nav-menu
                    ul
                        li.nav-dropdown
                            a(href="#home") Home
                        li
                            a(href="#about") About
                        li
                            a(href="#features") Features
                        li.nav-dropdown
                            a(href="#pages") Pages  
                        li.nav-dropdown
                            a(href="#blog") Blog
                        li
                            a(href="#contact") Contact
                .other
                    button.btn-df.btn-hv-up.btn-hv-bs.btn-hv-violet.bg-green Hỗ trợ                             