.bg-light.slick-box-title
    section.section-title#pages
        h2 Các mentor nhiều năm kinh nghiệm
        .processing-bar
        p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
    .row.slide-slick
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/1-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 LÊ THANH TRƯỜNG
                        span CEO & Founder
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Có 10 năm kinh nghiệm làm việc và dạy học.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 ANH ĐĂNG KHOA
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Cử nhân đại học Tôn Đức Thắng
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/3-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 LÊ THỊ THOA
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Thạc sỹ nghành công nghệ thông tin, Đại học Taganrog – Liên Bang Nga.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 NGUYỄN MẠNH HƯNG
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Bằng Advance Diploma – Multi media – Fpt ARENA.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/1-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 PHẠM VĂN THẢO
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Giảng viên Dotnet tại Đại học Funix
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 VÕ THANH TOÀN
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Cử nhân CNTT ĐH Mở TP HCM.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 LÊ TRỌNG ĐẠT
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Trung tâm T3H – ĐH Khoa học tự nhiên: Giảng viên Front End Dev.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/2-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 NGUYỄN XUÂN KHÁNH
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p University of Auckland – Graduate Teaching Assistant.
        .col-lg-3.col-md-3.col-sm-6
            .img-hv-content
                .img-team
                    img(src="../../../dist/assets/images/img-team/4-3-1.jpg", alt="Josh Buttler")
                .text-content
                    .text-info
                        h3 VŨ ĐỨC HIỆP
                        span Mentor
                    ul.row
                        li
                            a(href="#")
                                i.fab.fa-facebook
                        li
                            a(href="#")
                                i.fab.fa-linkedin
                        li
                            a(href="#")
                                i.fab.fa-twitter-square
                        li
                            a(href="#")
                                i.fab.fa-gitlab
                    p Kỹ sư CNTT – Học viện công nghệ bưu chính viễn thông.