section.our-recent-works
    div.section-title
        h2 Những sản phẩm của học viên
        div.processing-bar
        p Những sản phẩm dự án được chính những học viên từng học tại Học Với Chuyên gia làm được
    div.carousel
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/1-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Web site quản lý cửa hàng
                    p quản lý sản phẩm đơn hàng của cửa hàng chuyên bán nước giải khát
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/2-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") Quản lý nhân viên
                    p cung cấp các dịch vụ quản lý nhân viêc công việc thời gian đi làm
        div.carousel__block 
            img(src="../../../dist/assets/images/ourRecentWorks/3-1-1-1.jpg", alt="")
            div.overlay
                div.carousel__icon
                    a(href="#") <i class="fas fa-cog"></i>
                div.carousel__content
                    h3 
                        a(href="#") web site bán hàng di động 
                    p quản lý các sản phẩm di động, cung cấp dịch vụ sửa chữa điện thoại cho khách hàng

