section.our-features#features
    .container
        .section-title
            h2 Ưu điểm của những khóa học Tại Học Với Chuyên Gia
            .processing-bar
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        .wrapper-our-features.row
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon
                                i.fas.fa-cog
                            h3 Số lượng học viên
                            p Số lượng học viên cho 1 lớp chỉ từ 4 - 6 bạn, tập trung đào tạo và làm những dự án thực tế.
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-edc3fc
                                i.fas.fa-th-large
                            h3 Học phí
                            p Học phí phải chăng với giáo trình tiên tiến từ các chuyên gia công nghệ có gần 10 năm kinh nghiệm.
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-f9d2c4
                                i.fas.fa-mouse-pointer
                            h3 Hoàn trả
                            p Hoàn trả học phí cho những buổi bạn chưa học.                
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon
                                i.far.fa-envelope
                            h3 Hỗ trợ
                            p Được hỗ trợ online 24/7 nếu bạn chưa nắm vững kiến thức.
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-edc3fc
                                i.far.fa-question-circle
                            h3 Dự án thực tế
                            p Được tham gia vào những dự án thực tế, trải nghiệm môi trường làm việc ngay khi còn học. Tạo lợi thế sau khi đi xin việc.
            .wrapper-box-our-features.col-lg-6.col-md-6.col-sm-12.col-12
                .wrapper-inner
                    .box-our-features
                        .box-bg-df.box-bg-trans.cs-box-our-features
                            .icon.bg-f9d2c4
                                i.far.fa-bell
                            h3 Nắm vững kiến thức
                            p Nắm vững kiến thức trong tay, cơ hội nghề nghiệp của bạn là không giới hạn trong sự bùng nổ công nghệ toàn cầu.

